@import "../../scssComponents/Mixins.scss";

.headerWrap {
  grid-area: TopNav;
  display: grid;
  justify-items: center;
  min-height: 50px;
  min-width: 100%;
  background-color: white;
  @include border();
}

.topNav {
  width: 70%;
  min-height: 50px;
  @include border();
}
