* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

.mainPage {
  display: grid;
  gap: 10px;
  grid-template-columns : 0.1fr 2fr 3fr 5fr 0.1fr;
  grid-template-areas:
    "TopNav  TopNav  TopNav       TopNav     TopNav"
    ".       sideBar narrowColumn wideColumn .";
}

.narrowColumn {
  grid-area: narrowColumn;
  border: 1px solid #000;

  height: 100vh;
}

.wideColumn {
  grid-area: wideColumn;
  border: 1px solid #000;
}
