@import "../../scssComponents/Mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  background-color: #edeef0;
}

.mainPage {
  display: grid;
  gap: 5% 0.5%;
  grid-template-columns: 0.1fr 2fr 2fr 5fr 0.1fr;
  grid-template-areas:
    "TopNav  TopNav  TopNav       TopNav     TopNav"
    ".       sideBar narrowColumn wideColumn .";
}

.narrowColumn {
  grid-area: narrowColumn;
  @include gridAndContentCenter();
  @include border();
}

.wideColumn {
  grid-area: wideColumn;
  @include border();
}
