@import "../../../scssComponents/Mixins.scss";

.textArea {
  margin-bottom: 8px;
  @include textArea();
}

.textAreaShow {
  height: 50px;
  @include textArea();
}

textarea:focus {
  outline: none;
}
textarea::placeholder {
  font-size: 15px;
}

